<!-- Start of new add Rewards Screen -->
<div class="card-overlay align-middle center" [hidden]="getActivity">
    <div class="card-content-container container">
        <img [src]="Reward.Image" alt="rewards name" class="img">
        <h1> {{Reward.Name}} </h1>
        <!-- Top Content -->
        <div class="close selectable" (click)="routerListener.activate() ">close </div><br><br>
        <input type="text" placeholder="Card Number" class="textfield" [(ngModel)]='cardNum' required><br>
        <input type="email" placeholder="Email" class="textfield" [(ngModel)]='email' required><br>
        <input type="{{typeInput}}" placeholder="Password" class="textfield password" [(ngModel)]="password" required>
        <i class=" fa-2x peakPassword {{icon}}" (click)="showPassword()" aria-hidden="true"></i><br>
        <div class="custom-row right">
            <div class="add center selectable align-middle" (click)='checkCredentials()'>add reward</div>
            <div class="cancel center selectable align-middle" (click)="routerListener.activate()">cancel</div>
        </div>
    </div>
</div>