<div class="row justify-content-md-center">
  <div class="col-md-4">
    <input type="text" placeholder="Card Number" class="form-control textfield" [(ngModel)]='cardNum' required>
    <br>
    <input type="email" placeholder="Email" class="form-control textfield" [(ngModel)]='email' required>
    <br>
    <input type="password" placeholder="Password" class="form-control textfield" [(ngModel)]='password' required>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <custom-button [text]="'Submit Credentials'" (click)='addReward()'></custom-button>
    <custom-button [text]="'Back'" [routerLink]="'/rewards'"></custom-button>
  </div>
</div>