<div class="row justify-content-center">
  <div class="col-md-4">
    <h1>Provider Credentials</h1>
    <input type="text" placeholder="Card Number" class="textfield my-4" [(ngModel)]='cardNum' required>
    <br>
    <input type="email" placeholder="Email" class="textfield my-4" [(ngModel)]='email' required>
    <br>
    <input type="password" placeholder="Password" class="textfield my-4" [(ngModel)]='password' required>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-4">
    <custom-button [text]="'Submit Credentials'" (click)='addReward()'></custom-button>
    <custom-button [text]="'Back'" [routerLink]="'/rewards'"></custom-button>
  </div>
</div>