.slideBar{
min-width: 266px;
max-width: 25%;
margin: 0;
background-color: #ffffff;
height: 100%;
float: left;
opacity: 2;
z-index: 10;
}
.slideBar-container{
    height: 100%;
    width: 100%;
    position: fixed;
}

.slidebar-fill{
    height: inherit;
    width: inherit;
    opacity: 0.6;
    z-index: -1;
    padding: 5px;
}
.box{
    padding: 5px;
    width: 100%;
}