.slideBar{
    min-width: 266px;
    width: 25%;
    margin: 0;
    background-color: #000000;
    height: 100%;
    float: left;
    color: #ffffff;
    }
    .slideBar-container{
        height: 100%;
        width: 100%;
        position: fixed;
        float: left;
    }
    
    .slidebar-fill{
        height: inherit;
        width:100%;
        opacity: 0.6;
        z-index: -1;
        padding: 5px;
    }
    .box{
        padding: 5px;
        width: 100%;
        color: #ffffff;
    }