.panel{
    height:inherit;
    width: inherit;
    padding: 10px;
    display:inline; 
    overflow-x: hidden;
    overflow-y: auto;
    /*  */
}
.main {
    margin-top: -19px;
    width: auto;
    background-color:#F3F3F3;
    color: black;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: keep-all;
    text-align: left;
    padding: 5px;
    padding-bottom: 25px;
    border: 5px thick black;
}