<div class="row m-0 text-center justify-content-center">
  <div *ngFor="let item of data | async;let i = index">    
    <app-card [name]="item.ProviderName" [imgUrl]="item.Image" [balance]="item.Value/item.Ratio"
    [currency]="item.Currency" [points]="item.Ratio" [provider]="item.Name" [rewardname]="item.Name"  [redirector]="'add'"[summary]="item.summary" [index]="i"></app-card><br>
    <button class="btn add_button" (click)="[addRewards(item.key)]">Add {{item.Name}}
        <i class="fa fa-chevron-right"></i>
      </button>
      </div>
    </div>
