.dashboard {
    padding: 0px 4%;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
}

.spacing-start {
    justify-content: flex-start;
}

.spacing-between {
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .dashboard {
        padding: 0px 10%;
    }
}