.box{
    border: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
}

.heading{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -1.1px;
    color: #233539;
}

.close{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #489fff;
}

.name{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #233539;
}

.email{
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #233539;
}

.textfield-label{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #9b9b9b;
}

.textfield{
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #233539;
    border: none;
    border-bottom: 1px solid #979797;
    width: 100%;
}

.select-theme{
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #233539;
}

.theme{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #323c47;
    cursor: pointer;
}

.buttons{
    width: 100%;
}

.save-button{
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #489fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.cancel-button{
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #979797;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}


/* Radio buttons */

input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    background: #ffffff;
    box-shadow: inset 0 0 0 .3em white, 0 0 0 .2em;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    color: #233539;
  }
  input[type="radio"]:hover, input[type="radio"]:checked {
    background: #233539;
    box-shadow: inset 0 0 0 .15em white, 0 0 0 .2em;
  }
  input[type="radio"]:checked {
    background: #233539;
    box-shadow: inset 0 0 0 .15em white, 0 0 0 .2em #233539;
  }
  input[type="radio"]:focus {
    outline: 0;
  }