<div class="row m-0 justify-content-center">
  <div class="col-3 row m-0 py-2 box justify-content-center">
    <div class="col-9 heading">My Profile</div>
    <a class="col-3 close">Close</a>
    <div class="col-3">
      <img [src]='ds.photoUrl' class="img-fluid rounded-circle">
    </div>
    <div class="col-9">
      <div class="name">{{ds.getName()}}</div>
      <div class="email">{{ds.getEmail()}}</div>
    </div>
    <div class="col-12">
      <label for="username" class="textfield-label mt-3">Username</label>
      <br>
      <input type="text" id='username' [value]='ds.getName()' class="textfield">
      <br>
      <label for="email" class="textfield-label mt-3">Email</label>
      <br>
      <input type="email" id='email' [value]='ds.getEmail()' class="textfield">
      <br>
      <input type="text" id='password' placeholder="Change Password" class="textfield mt-3">
    </div>
    <div class="col-12 mt-3">
      <div class="select-theme">Select your theme colour</div>
      <input type="radio" class="medium" id="light" name="theme" value="Light" checked>
      <label for="light" class="theme ml-3">Light</label>
      <br>
      <input type="radio" class="medium" id="dark" name="theme" value="Dark">
      <label for="dark" class="theme ml-3">Dark</label>
    </div>
    <div class="row justify-content-end buttons">
      <button class="btn cancel-button col-4">Cancel</button>
      <button class="btn save-button col-4 ml-1">Save</button>
    </div>
  </div>
</div>