<!-- <div [class.flip]="!isFlip">
    <div [hidden]="isFlip" class="card" *ngIf='reward !== undefined && userData !== undefined' (click)="flip()">
        <div class="row">
            <img [(src)]="reward.Image" [(alt)]="reward.ProviderName" class="img"><br>
            <div class="header">{{ reward.Name }} <br>
                <a href="javascript:void(0)" (click)="activateReward(reward.id); move('/main/info')">FIND OUT MORE</a><br>
                <a href="javascript:void(0)" (click)="map(reward); move('/main/map')">Get Location</a>

            </div>
        </div>
        <div class="row center" [hidden]="!isHidden">
            <div class="rectangle">
                <div class="pill line-right">
                    <h1> Points Earned </h1>
                    <div class="value-points minus-top-10px">
                        {{ userData.Points }}
                    </div>
                </div>
                <div class="pill">
                    <h1> Rand Value </h1>
                    <div class="value-zar minus-top-10px">
                        {{ userData.Points/reward.Ratio }}
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="isHidden" class="row center">
            <div class="btn-addReward center" (click)="addReward()">
                <div class="btn-text fa fa-plus"></div>
                <div class="btn-text-right">
                    Add to my rewards
                </div>
            </div>
        </div>
    </div>
    What to show after Flipping
    <div class="card-image" [ngStyle]="{'background-image' : reward.Image }" (click)="flip()" [hidden]="!isFlip">
        <div class="background" [ngStyle]="{'background-image' : 'url('+ reward.Image+')' }">
        </div>
    </div>
</div> -->

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
            <div class="card-container">
                <div class="card-image" [ngStyle]="{'background-image' : reward.Image }">
                    <div class="background" [ngStyle]="{'background-image' : 'url('+ reward.Image+')' }">
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="card-container">
                <div class="card" *ngIf='reward !== undefined && userData !== undefined'>
                    <div class="row">
                        <img [(src)]="reward.Image" [(alt)]="reward.ProviderName" class="img"><br>
                        <div class="header">{{ reward.Name }} <br>
                            <a href="javascript:void(0)" (click)="activateReward(reward.id); move('/main/info')">FIND OUT MORE</a><br>
                            <!-- <a href="javascript:void(0)" (click)="activateReward(reward.id); map(reward); move('/main/map')">Get Location</a> -->
                        </div>
                    </div>
                    <div class="row center" [hidden]="!isHidden">
                        <div class="rectangle">
                            <div class="pill line-right">
                                <h1> Points Earned </h1>
                                <div class="value-points minus-top-10px">
                                    {{ userData.Points }}
                                </div>
                            </div>
                            <div class="pill">
                                <h1> Rand Value </h1>
                                <div class="value-zar minus-top-10px">
                                    {{ userData.Points/reward.Ratio }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="isHidden" class="row center">
                        <div class="btn-addReward center" (click)="addReward()">
                            <div class="btn-text fa fa-plus"></div>
                            <div class="btn-text-right">
                                Add to my rewards
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>