<div class="card center"> 
    <div class="row">
         <img [(src)] ="imgUrl"  [(alt)]="provider" class="img"><br>
         <div class="header">{{ provider }} <br>
                <a [routerLink]="['/main/info/'+rewardname+'/'+index]">FIND OUT MORE</a>
         </div>
         </div>
         <br>
<div class="row ">
        <div class="rectangle">   
                     <div class="pill line-right">
                           <h1> Earned Points </h1>
                           <div class="value-points minus-top-10px">
                                {{ points }}
                            </div>
                     </div>
                     <div class="pill">
                            <h1> Value </h1>
                            <div class="value-zar minus-top-10px">
                                {{ balance }}
                            </div>
                     </div>
                </div>
</div>
  
   

</div>