.card{
   width: 266px;
  height: 266px;
    border:none;
  overflow: hidden;
  float: left;
  margin: 5px;
}
.maincard{
    width: inherit;
    height: inherit;
    margin-top: 5px;
}
.sub-card{
    height: 70%;
    width: inherit;
    font-family: 'Hindi'
}
img{
    height: inherit;
    opacity: .9;
}
h1, .title{
    font-size: 1em;
    font-weight: 900;
}
/* Overlay */
.layer{
    position: absolute;
    height: inherit;
    width: inherit;
    display: none;
    margin: 0;
}
.card:hover .layer{
    display: block;
}