<div class="container text">
    <div class="row ">
        <div class="col-md-2">
            <img class="rewards-icon " [src]="rewards[index].Image" alt="icon of rewards program ">
        </div>
        <div class="col-md-10 ">
            <h1>{{ rewards[index].Name}}</h1>
            <h1 class="balance">Available points: {{rewards[index].Points }}</h1>
  
       </div>
    </div>
  <div class="row">
    <!-- <iframe [src]="src"></iframe> -->
    {{rewards[index].summary}}
    </div>
  </div>