<div class="moreInfoPanel center default-shadow">
    <div class="row">
            <div class="selectable rgt" (click)="back()"><div class="close" >Close</div><br></div>
        <img [src]="reward.Image" alt="rewards programme" class="img">
        <div *ngIf='reward.Points !== undefined' class="rectangle">
            <div class="pill line-right">
                <h1> Points Earned </h1>
                <div class="value-points">
                    {{ reward.Points }}
                </div>
            </div>
            <div class="pill">
                <h1> Rand Value </h1>
                <div class="value-zar">
                    {{reward.Points/reward.Ratio}}
                </div>
            </div>
       </div>   
        </div><br>
        <iframe [src]="reward.infoUrl" [srcdoc]="reward.summary" alt='text'class="default-shadow" frameborder="0" class="iframe"> </iframe>
  </div>
