.box {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 500px;
    border: 1px solid #ffff;
    height: 500px;
}


/* box for all the fields  end*/

.carrotPicture {
    height: 140px;
    margin: auto;
}

.logoName {
    font-family: SkrovaParts-OutlineDotted;
    font-size: 50px;
    color: #4a4a4a;
    margin-top: 15px;
}

.forget-password {
    width: 352px;
    height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    letter-spacing: 0.1px;
    color: #474f58;
}

.reset-password {
    width: 343px;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #474f58;
    margin-left: 90px;
}

.textfield {
    margin: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #51b920;
    color: black;
}

.textfield:invalid:not(content) {
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid #979797;
}