<div class="row justify-content-center">
    <!--the box where all fields are in-->
    <div class="box container-fluid align-middle ">

        <!--the icon-->
        <div class="row justify-content-center">

            <img class="carrotPicture" src="../../assets/img/food.png" alt="Carrot Icon">

        </div>

        <!--logo label-->
        <div class="row justify-content-center">
            <h1 class="logoName">carrot</h1><br>
        </div>
        <!--logo label end-->

        <!--forgot password label start-->
        <div class="row m-0 justify-content-center">
            <h1 class="forget-password">Forgot password? No worries!</h1>
            <h6 class="reset-password" [routerLink]="'/confirmPassword'">The instructions will be sent your email </h6>
        </div>
        <!--forgot password label end-->

        <!--textfields start-->
        <div class="row m-0 justify-content-left">

            <input type="password" placeholder="Password" class=" textfield" [(ngModel)]="password" required>
        </div>
        <!--textfields end-->



        <!--reset password button start-->
        <div class="row m-0 justify-content-center">
            <custom-button text="Reset password" class=" col align-self-start"></custom-button>
        </div>
        <!--reset password  button ends-->

        <!--register button/link start-->
        <div class="row justify-content-center">
            <a [text]="'ITS OK , I REMEMBER IT NOW'" [routerLink]="'/login'"></a>
        </div>
        <!--register button/link ends-->

    </div>
</div>