.h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -1.1px;
    text-align: left;
    color: #233539;
    float: left;
    margin-left: 40px;
    margin-right: 50px;
}

.h2 {
    height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-align: left;
    color: #474f58;
    margin-top: 15px;
    margin-left: 40px;
}

.btn-add-carrot {
    width: 170px;
    height: 35px;
    border-radius: 2px;
    background-color: #F9B324;
    border: solid 1px #F9B324;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-top: 4px;
    margin-right: 6.3%;
}

.btn-add-carrot:hover {
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.btn-remove-carrot {
    width: 244px;
    height: 35px;
    border-radius: 2px;
    background-color: #F54B5E;
    border: solid 1px #FFFFFF;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-top: 4px;
    margin-right: 6.3%;
}

.btn-remove-carrot:hover {
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.btn-text {
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    float: left;
    font-weight: 100;
}

.btn-text-right {
    margin-left: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: left;
    color: #ffffff;
    float: left;
    text-transform: uppercase;
    margin-top: -2px
}

.shape {
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #f9b324;
    margin-left: 40px;
    margin-bottom: 15px;
}

.rectangle {
    text-align: center;
    width: 243px;
    height: 62px;
    border-radius: 5px;
    color: black;
    background: #FFF;
    border: solid 2px #e9eff4;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
    /* margin-top: 26.6px; */
    font-size: 12px !important;
    font-weight: bold;
}

.pill {
    width: 50%;
    height: 100.5%;
    float: left;
    /* padding-left: 24.6px; */
    padding-top: 5px;
    cursor: text;
}

.value-points {
    color: #489fff;
}

.value-zar {
    color: #73a649;
}