    <div class="row">
        <div class="col-md-6">
             <div class="h1"> {{ geth1  }} </div>
        </div>
    <div class="col-md-6 right">
          
                <button class="btn-add-carrot selectable"  (click)="redirect('/'+getUsername+'/rewards')"  [hidden]="!showBtn" > 
                    <div class="btn-text fa fa-plus"></div>
                    <div class="btn-text-right"  >{{ btn_title }} </div>
                </button>

    </div>
    </div> 
      <div class="h2">{{ date |  date: 'dd MMMM yyyy' }}</div>
           <div class="shape"></div>