<app-navbar></app-navbar>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="page-background  ">
            <div class="row justify-content-center">
                <!--the box where all fields are in-->
                <div class="box container-fluid align-middle ">

                    <!--the icon-->
                    <div class="row justify-content-center">
                        <a [routerLink]="['/login']">
                            <img class="carrotPicture" src="../../assets/img/food.png" alt="Carrot Icon">
                        </a>
                    </div>

                    <!--logo label-->
                    <div class="row justify-content-center">
                        <h1 class="logoName">carrot</h1>
                        <br>
                    </div>
                    <!--logo label end-->

                    <!--welcome label start-->
                    <div class="row justify-content-center">
                        <h1 class="register">Register</h1>
                    </div>
                    <!--welcome label end-->
                    <br>

                    <!--textfields start-->
                    <div class="row m-0 justify-content-left">
                        <input type="text" placeholder="Username" class="textfield" [(ngModel)]="username" required>
                        <input type="email" placeholder="Email" class="textfield" [(ngModel)]="email" required>
                        <input type="{{typeInput}}" placeholder="Password" class="textField-Password" [(ngModel)]="password" required>
                        <i class=" fa-2x peakPassword {{icon}}" (click)="showPassword()" aria-hidden="true"></i>

                    </div>
                    <!--textfields end-->



                    <!--login button start-->
                    <div class="row m-0 justify-content-center">
                        <custom-button [text]="'Register'" (click)="register()" class=" col align-self-start"></custom-button>
                    </div>
                    <!--login button ends-->

                    <!--register button/link start-->
                    <div class="row justify-content-center">
                        <a class="login" [text]="'Login'" [routerLink]="'/login'"></a>
                    </div>
                    <!--register button/link ends-->
                    <!--google button/link start-->
                    <div class="row justify-content-center">
                        <div class="google-box">
                            <h6 class="google-label text-center">Or sign up with</h6>
                            <button type="button" (click)="googlePopup()" class=" googleLogin google-btn rounded mx-auto d-block">SIGN UP WITH GOOGLE</button>
                            <br>
                        </div>
                    </div>
                    <!--google button/link end-->
                </div>
            </div>


        </div>


    </div>
</div>







<!--<div class="registration container-fluid">
    <div class="row justify-content-center">
        <a [routerLink]="['/login']">
            <img class="carrotPicture" src="../../assets/img/carrot.png" alt="Carrot Icon">
        </a>
        <br>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <input type="text" placeholder="Username" class="form-control textfield" [(ngModel)]="username" required>
            <input type="email" placeholder="Email" class="form-control textfield" [(ngModel)]="email" required>
            <br>
            <input type="password" placeholder="Password" class="form-control textfield" [(ngModel)]="password" required>
            <br>

        </div>
    </div>
    <div class="row  justify-content-md-center margin-40-left">
        <div class="col-md-4">
            <custom-button [text]="'Register'" (click)="register()" class="col-md-12"></custom-button>
            <custom-button [text]="'login'" [routerLink]="'/login'" class="col-md-12"></custom-button>
        </div>
    </div>
</div>-->