@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('./assets/font-awesome-4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');


@import url('./themes.css');


/* This is to ensure that all components experience a smooth change */
*{
     transition: all 800ms ease;
    -webkit-transition: all 800ms ease;;
    -o-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
}
/* Global Helpers */

.col-blocks-3{
    width: 33.3%;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}
.selectable {
    color:#888989;
    cursor: pointer;
}
.selectable :hover {
    color: #1D1F20;
}
.left{
    text-align: left;
}
.block{
    display: block; 
    padding: 5px;
}

/* Font Sizes */
.lrg{
    font-size: 1.5em;
}