<a class='coupons m-5' data-toggle="modal" data-target="#couponsModal"><img data-toggle="tooltip" data-placement="right" title="My Coupons" src="../../assets/img/food.png" class="logo"></a>
<div class="modal left fade" id="couponsModal" tabindex="-1" role="dialog" aria-labelledby="couponsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body row m-0 justify-content-center text-left">
                <div class="heading col-9">My Coupons</div>
                <button type="button" class="close col-3" data-dismiss="modal" aria-label="Close">Close</button>
                <div *ngFor="let userReward of db.usersRewards | async" class="row mx-auto couponCard rounded my-3 p-1">
                    <div *ngFor="let coupon of db.coupons | async">
                        <div *ngIf="coupon.Provider === userReward.key">
                            <div *ngFor="let reward of db.rewards | async">
                                <div *ngIf="reward.key === userReward.key" class="row" (click)="map(reward); move( '/main/map', coupon)" data-dismiss="modal">
                                    <div class="col-3"><img src={{reward.Image}} alt="logo" class="img-fluid rounded companyLogo" /></div>
                                    <p class="col-9 description">{{coupon.Description}} at {{coupon.Location}}</p>
                                    <div class="expirationDate">{{coupon.ExpirationDate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>