<div class="navbar {{ theme+'-shadow' }}" id="{{theme+'-navbar'}}">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div [hidden]="login" id="{{theme+'-parent-item'}}" class="selectable">
                    <app-coupons *ngIf="this.ds.getCurrentUser()"></app-coupons>
                </div>
            </div>
        </div>
        <div class="row justify-content-end col">
            <label [routerLink]="['/login']" [hidden]="!login" class="logBtn">Login</label>
            <button [routerLink]="['/register']" [hidden]="!login" class="regBtn">Register</button>
            <div [hidden]="login" id="{{theme+'-parent-item'}}" class="selectable">
                <profile class="avatar" *ngIf="this.ds.getCurrentUser()"></profile>
            </div>
        </div>
    </div>
</div>