.navbar {
    top: 0;
    left: 0;
    width: 100%;
    float: left;
    font-size: 1em;
    padding: 0.05%;
    font-weight: 900;
    position: static;
    height:50px;
  }
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
  
  .selectable {
    color: #888989 ;
    cursor: pointer; 
  }

  .col-md-3{
    width: 33.3%
  }