.navbar{
    top:0;
    left:0;
    width: 100%;
    float: left;
    font-size: 1em;
    padding: 0.05%;
    font-weight: 900;
    position: static;
    background-color: #ffffff;
}

.col-blocks-3{
    width: 33.3%;
    padding: 0.5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.selectable{
    color:#5C5C5C;
    cursor: pointer;
}
.selectable:hover{
    color: #262626;
}
