
<!-- <div class="container" id="{{theme + '-parent'}}"> -->
<div class="row">
<div *ngIf="origin.lat!==0 && origin.lng!==0">
        <agm-map id="map" [latitude]="lat" [longitude]="lng" [zoom]="15" [streetViewControl]="false" [zoomControl]="false" (mapReady)="mapReady($event)">

                <agm-marker [latitude]="lat" [longitude]="lng">
                  <agm-info-window>You Are Here</agm-info-window>
                </agm-marker>
                <div *ngIf="origin.lat!==0 && origin.lng!==0">
                  <agm-marker *ngFor="let l of nearestLocations" [latitude]="l.geometry.location.lat()" [longitude]="l.geometry.location.lng()">
                    <agm-info-window>{{l.name}}

                        <!-- Button to navigate to a location -->
                      <!-- <button (click)="setDestination(l.geometry.location.lat(),l.geometry.location.lng())">Navigate</button> -->
                     
                    </agm-info-window>
                  </agm-marker>
                </div>

                <!-- Directive which display the path -->
                <!-- <div *ngIf="destination.lat!==0 && destination.lng!==0">
                  <appMapDirections [directionsDisplay]="directionsDisplay" [origin]="origin" [destination]="destination"></appMapDirections>
                </div> -->
              </agm-map>

</div>
  
</div>
<!-- </div> -->
