<div class="container">

    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">

            <div class="row justify-content-center">
                <!--the box where all fields are in-->
                <div class="box container-fluid align-middle ">

                    <!--the icon-->
                    <div class="row justify-content-center">

                        <img class="carrotPicture" src="../../assets/img/food.png" alt="Carrot Icon">

                    </div>

                    <!--logo label-->
                    <div class="row justify-content-center">
                        <h1 class="logoName">carrot</h1><br>
                    </div>
                    <!--logo label end-->

                    <!--awesome label start-->
                    <div class="row m-0 justify-content-center">
                        <h1 class="awesome">AWESOME!</h1>

                    </div>
                    <!--awesome password label end-->
                    <!--awesome label start-->
                    <div class="row m-0 justify-content-left">
                        <h1 class="textlabel">Your password has been reset please click 'BACK TO LOGIN' to login</h1>

                    </div>
                    <!--awesome password label end-->
                    <!--picture start-->
                    <div class="row m-0 justify-content-left">
                        <img class="checkIcon" src="../../assets/img/checkIcon.png" alt="Carrot Icon">

                    </div>
                    <!--picture end-->

                    <!--back to ligin label button/link start-->
                    <div class="row justify-content-center">
                        <a class="back" [text]="'BACK TO LOGIN'" [routerLink]="'/login'"></a>
                    </div>
                    <!--back to login label button/link ends-->

                </div>
            </div>


        </div>
        <div class="col-md-3"> </div>
    </div>