.box {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #ffff;
    height: 600px;
}


/* box for all the fields  end*/

.carrotPicture {
    height: 140px;
    margin: auto;
    margin-top: 25px;
}

.logoName {
    font-family: SkrovaParts-OutlineDotted;
    font-size: 50px;
    color: #4a4a4a;
    margin-top: 15px;
}

.awesome {
    width: 100%;
    height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    letter-spacing: 0.1px;
    color: #474f58;
    text-align: center;
    margin-top: 30px;
}

.back {
    margin-top: 50px;
    width: 100%;
    height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    color: #489fff;
}

.textlabel {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    letter-spacing: 0.1px;
    color: #474f58;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.checkIcon {
    height: 100px;
    margin: auto;
}